@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 279 85% 3%;
    --foreground: 0 0% 100%;

    --card: 0 0% 100%;
    --card-foreground: 0% 0% 100%;

    --popover: 0 0% 100%;
    --popover-foreground: 0% 0% 100%;

    --primary: 271 72% 13%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 271 72% 13%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 271 72% 13%;

    --destructive: 351 95% 71%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 0% 0% 100%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0% 0% 100%;
    --foreground: 210 40% 98%;

    --card: 0% 0% 100%;
    --card-foreground: 210 40% 98%;

    --popover: 0% 0% 100%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 271 72% 13%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-muted text-white;
  }

  .text-glow {
    text-shadow: 0 0 10px #66fcf1, 0 0 20px #66fcf1, 0 0 40px #66fcf1,
      0 0 80px #66fcf1;
  }

  .card-wrapper {
    background: linear-gradient(#0b0c10, #0b0c10) padding-box,
      linear-gradient(135deg, transparent 1%, #0b0c10, #212121, #66fcf1)
        border-box;
    border: 2px solid transparent;
  }

  #title #t {
    transition: 0.5s;
  }

  #title:hover #t:nth-child(1) {
    margin-right: 5px;
  }

  #title:hover #t:nth-child(2) {
    margin-left: 5px;
  }

  #title:hover #t:nth-child(1) {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff;
  }

  #title:hover #t:nth-child(2) {
    text-shadow: 0 0 10px #66fcf1, 0 0 20px #66fcf1, 0 0 40px #66fcf1,
      0 0 80px #66fcf1;
  }

  #link {
    position: relative;
    overflow: hidden;
  }
  #link:hover {
    background-color: #66fcf1;
    color: #0b0c10;
    box-shadow: 0 0 5px #66fcf1, 0 0 25px #66fcf1, 0 0 50px #66fcf1,
      0 0 100px #66fcf1;
  }

  #link span {
    position: absolute;
    display: block;
  }

  #link span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #66fcf1);
    animation: animate1 1s linear infinite;
  }
  @keyframes animate1 {
    0% {
      left: -100%;
    }
    50%,
    100% {
      left: 100%;
    }
  }

  #link span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #66fcf1);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
  }
  @keyframes animate2 {
    0% {
      top: -100%;
    }
    50%,
    100% {
      top: 100%;
    }
  }
  #link span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #66fcf1);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
  }
  @keyframes animate3 {
    0% {
      right: -100%;
    }
    50%,
    100% {
      right: 100%;
    }
  }
  #link span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #66fcf1);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
  }
  @keyframes animate4 {
    0% {
      bottom: -100%;
    }
    50%,
    100% {
      bottom: 100%;
    }
  }
}
